---
const { title,detail } = Astro.props;
---
<swiper-slide class="md:pb-20 pb-10">
    <div class="from-amber-50 via-cyan-100 to-blue-200 backdrop-blur-lg bg-gradient-to-bl h-64 md:h-72 text-gray-800 w-full font-roboto md:px-10 px-5 min-h-56 md:py-10 py-5 rounded-xl shadow-xl">
        <h3 class="lg:text-xl text-lg font-semibold mb-2">{title}</h3>
        <p class="text-sm lg:text-base">{detail}</p>
    </div>
</swiper-slide>