---
const { title,detail } = Astro.props;
---
<swiper-slide class="md:pb-20 pb-10">
    <div class="from-blue-50/90 dark:from-gray-800 backdrop-blur-sm dark:backdrop-blur-md bg-gradient-to-b h-64 md:h-72 text-gray-800 w-full font-roboto md:px-10 px-5 min-h-56 md:py-10 py-5 rounded-xl shadow-xl">
        <h3 class="lg:text-xl text-lg font-semibold mb-2 dark:text-white">{title}</h3>
        <p class="text-sm lg:text-base dark:text-gray-500">{detail}</p>
    </div>
</swiper-slide>