---
import { Icon } from "astro-icon/components";
import { Image,getImage } from "astro:assets";
import imagePolygon from "@assets/polygon.png";
import sejarahImage from "@assets/sejarah.jpg";
import visiImage from "@assets/visi.jpg";
import misiImage from "@assets/misi.jpg";
const sejarahImageOptimized = await getImage({src:sejarahImage,format:'webp',width:500, height:500})
const visiImageOptimized = await getImage({src:visiImage,format:'webp',width:500, height:500})
const misiImageOptimized = await getImage({src:misiImage,format:'webp',width:500, height:500})
---

<section
    class="dark:z-10 py-10 bg-gray-50 text-gray-800 dark:text-gray-200 dark:bg-gray-900 relative"
>
    <Image
        src={imagePolygon}
        width={imagePolygon.width - 100}
        height={imagePolygon.height - 100}
        alt={`polygon`}
        loading={"eager"}
        class={`absolute md:right-60 right-0 z-0 opacity-30 dark:opacity-5 animate-shakeY`}
    />
    <article class="relative px-5 lg:px-20">
        <p
            class="text-xs lg:text-base dark:text-white dark:border-gray-200 text-blue-800 font-medium font-roboto border-b-2 border-blue-800 inline pb-2"
        >
            Tentang Kami
        </p>
        <div class="grid lg:grid-cols-2 lg:gap-10 items-start">
            <h2
                class="lg:text-4xl text-2xl font-bold font-roboto mt-5 dark:text-white"
            >
                Sejarah dan Visi Misi Kami
            </h2>
            <p class="lg:text-lg text-sm dark:text-gray-500">
                Renggani Karya Semesta lahir dari aspirasi besar untuk menghadirkan perubahan signifikan dalam dunia teknologi dan bisnis.
            </p>
        </div>
    </article>
    <article class="relative mt-10 grid grid-cols-2 font-roboto">
        <div class="object-cover bg-cover bg-center bg-no-repeat row-span-2 col-span-2 lg:col-span-1" style={`background-image:url('${misiImageOptimized.src}')`}>
           <div class="bg-gray-800/70 text-white h-full flex justify-center items-start flex-col px-5 py-10 lg:p-10 lg:pl-20">
            <h3 class="lg:text-2xl text-xl font-bold border-b-2 border-white mb-3">Sejarah</h3>
            <p class="lg:text-lg text-sm md:text-base">Didirikan pada tahun 2022 oleh tim yang berdedikasi, perusahaan ini segera melegalkan operasinya pada tahun 2023, menandai awal dari perjalanan inovatif kami. Meskipun kami adalah perusahaan baru, kami berkomitmen untuk tidak kalah dengan software house lainnya dan akan terus berkembang melebihi mereka. Kami percaya bahwa dengan dedikasi dan inovasi, kami dapat memberikan solusi teknologi terbaik yang melampaui ekspektasi di berbagai sektor industri.</p>
           </div>
        </div>
        <div class="object-cover bg-cover bg-center bg-no-repeat h-[300px]" style={`background-image:url('${visiImageOptimized.src}')`}>
           <div class="bg-gray-800/70 text-white px-5 py-10 lg:p-10 lg:pr-20 h-full items-start flex justify-center flex-col">
            <h3 class="lg:text-2xl text-xl font-bold border-b-2 border-white mb-3">Visi</h3>
            <p class="lg:text-lg text-sm md:text-base">Menjadi mitra solusi teknologi yang terpercaya.</p>
           </div>
        </div>
        <div class="object-cover bg-cover bg-center bg-no-repeat h-[300px]" style={`background-image:url('${sejarahImageOptimized.src}')`}>
           <div class="bg-gray-800/70 text-white px-5 py-10 lg:p-10 lg:pr-20 h-full items-start flex justify-center flex-col">
            <h3 class="lg:text-2xl text-xl font-bold border-b-2 border-white mb-3">Misi</h3>
            <p class="lg:text-lg text-sm md:text-base">Memudahkan operasional dan inovasi berkelanjutan.</p>
           </div>
        </div>

    </article>
    </article>
</section>
