<section
    class="px-5 lg:px-20 dark:z-10 py-10 bg-gray-50 text-gray-800 dark:text-gray-200 dark:bg-gray-900 relative"
>
<div class="bg-gradient-to-br from-blue-800 to-cyan-500 shadow-lg shadow-blue-300 rounded-2xl p-5 lg:p-20 flex flex-col lg:flex-row lg:items-center items-start gap-10 justify-between">
    <article class="lg:w-1/2">
        <p
            class="text-xs lg:text-base dark:text-white dark:border-gray-200 text-white font-medium font-roboto border-b-2 border-white inline pb-2"
        >
        Let's Talk!
        </p>
        <h2
            class="lg:text-4xl text-2xl font-bold font-roboto mt-5 text-white"
        >
            Siap Berkolaborasi?
        </h2>
        <p class="lg:text-lg text-sm text-white dark:text-gray-500">
            Temukan solusi terbaik untuk bisnis Anda dengan dua model layanan
            kami: Project-Based dan On Demand.
        </p>
    </article>
    <a href="https://api.whatsapp.com/send?phone=6289512589756" class="bg-[#ef9909] items-center gap-3 group flex font-roboto font-semibold px-7 py-3 rounded-full" target="_blank" rel="noopener noreferrer">GET IN TOUCH     <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" class="group-hover:translate-x-3 transition-all duration-500">
        <path fill="currentColor" d="M22 12a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2a10 10 0 0 1 10 10M6 13h8l-3.5 3.5l1.42 1.42L17.84 12l-5.92-5.92L10.5 7.5L14 11H6z"></path>
    </svg></a>
</div>
</section>
